@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Rubik&family=Secular+One&family=Sriracha&family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion one', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fonte3);
}

header {
    padding: 50px;
}

.ponta {
    background-color: black;
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-family: var(--fonte1);
}

.link {
    color: white;
    text-decoration: none;
    font-family: var(--fonte1);
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

#titulo {
    font-family: var(--fonte2);
    font-size: 10vw;
}

#img1 {
    background-image: url('../imagens/background001.jpg');
}

#img2 {
    background-image: url('../imagens/background002.jpg');
}

.normal {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100vw;
}

.normal.figura {
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    box-shadow: inset 0px 3px 20px 0px rgba(0, 0, 0, 0.75);
}

.transparente {
    margin-left: 35px;
    padding: 5px;
    font-size: 3.5vw;
}

.transparente.visivel {
    max-width: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 7px 5px 3px rgba(0, 0, 0, 0.7)
}

footer {
    padding: 10px;
}